[user]
	email = mattias.frinnstrom@husqvarnagroup.com
	name = Mattias Frinnström
[push]
	default = simple

[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    cm = commit -m
    cma = commit -a -m

    st = status -s
    co = checkout
    cob = checkout -b

    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
    ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"

[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

[includeIf "gitdir:~/projects/serverless-enterprise/"]
	path = ~/projects/serverless-enterprise/.gitconfig
